// $primary-color : #766bf5;
// $primary-color: #9383ff;
$primary-color-dark: #6f50ff;
$primary-color-darker: #6145e3;

$primary-text-color: #2400ce;
$primary-color: #766bf3;
$primary-color-light: #b0aae9;

// $middle-bg-color: #f8f7fb;
$middle-bg-color: #fff;
$right-bg-color: #f8f7fb;


// .avatar {
//   width: 60px;
//   height: 60px;
//   border-radius: 35px;
//   font-weight: bold;
//   font-size: 40px;
//   text-align: center;
//   line-height: 60px;
// }

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 56px;
}